        @import url('http://xandaocdn.alexandrepicinato.com.br/recursos/css/papereffects.css');
        body{
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(110,106,106,1) 53%, rgba(0,0,0,1) 100%);
        }
        section{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        nav{
            max-height: 170px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        nav>div{
            display: flex;
            width: 65%;
        }
        .logo{
            width: 100%;
            height: 100%;
            font-size: 1.5em;
        }
